@import url('http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    transition: all 1s ease-in-out;
    font-family: roboto;
    font-size: 1.2rem;
}
header {
    padding: .5rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}
.logo {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    color: #000;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
nav a{
    text-decoration: none;
    font-family: monospace;
    color: #000;
    text-transform: uppercase;
}

.hero {
  padding: 0 10vw;
  margin-top: 3rem;
}

.about {
    margin-top: 4rem;
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .about-text {
    max-width: 50%;
  }
  .about-text p {
    margin-top: 1rem;
  }
  .tools {
    margin-top: 2rem;
  }
  .about img {
    width: 23rem;
    height: 17rem;
    outline: 5px solid #2c2d36;
  }


  

















  /* MEDIA QUERIES */
  @media (max-width: 640px) {
    :root {
        font-size: 10px;
    }
      .about{
        display: block;
      }
      .about-text {
        max-width: 100%;
      }
      .about img {
        display: block;
        margin: 2rem auto;
      }
  }