@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&family=Quicksand&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
}

/* Global style(s) */
a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

/* Hero section */
section.hero {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(/media/safar-safarov-MSN8TFhJ0is-unsplash.jpg) center/cover fixed
      no-repeat;
  color: #fff;
  overflow: hidden;
  transition: all 2s ease-in-out;
}

.hero-text {
  height: 100%;
  margin: 0 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: all 2s ease-in-out;
}

.hero-text p:first-child {
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 2px;
  font-family: "Quicksand", sans-serif;
}

.hero-text p:nth-child(2) {
  font-weight: 500;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}

/* About Section */
section.about {
  min-height: 100vh;
  color: #fff;
  background-color: #6d6d6d;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  transition: all 2s ease-in-out;
}

.about h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.about-content {
  flex: 1;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 35% 1fr;
  align-items: center;
  padding: 0 5vw;
  font-family: "Montserrat", sans-serif;
}

.about .img-container {
  width: fit-content;
}

.about img {
  width: 18.25rem;
  opacity: 0.8;
  border-radius: 4px;
}

.about .titles {
  margin-top: 0.5rem;
  font-weight: 500;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  transition: all 2s ease-in-out;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 1rem;
  color: #fff;
  background: #494949;
  border-radius: 5px;
}

/* Project Section */
section.project {
  min-height: 100vh;
  background-color: #5b5b5b;
  color: #fff;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  transition: none 2s ease-in;
}

.project h2 {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.projects-container {
  flex: 1;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
}

.my_project {
  width: 30%;
  cursor: pointer;
  background-color: #6d6d6d;
}

.project img {
  width: 100%;
  height: 16rem;
}

.my_project:hover {
  transform: scale(1.04);
  transition: all 1s ease;
}

.project figcaption {
  padding: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
/* Contact Section */
section.contact {
  min-height: 50vh;
  background-color: #494949;
  color: #fff;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  transition: all 2s ease;
}

.contact h2 {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.contact p {
  text-align: center;
  font-size: 1.125rem;
  font-family: "Montserrat", sans-serif;
  margin-top: 2rem;
}

.social-icons {
  flex: 1;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.social-icons img {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.5rem;
  border-radius: 50%;
}

/* Media Querie for Mobiles */
@media (max-width: 640px) {
  :root {
    font-size: 12px;
  }

  section.about {
    padding: 4rem 0.5vw 0;
  }

  .about-content {
    padding: 0 2vw;
    margin-top: 4rem;
    display: block;
    text-align: center;
  }

  .about .img-container {
    width: 100%;
  }

  .about-text {
    margin-top: 5rem;
    gap: 3rem;
  }

  section.project {
    padding: 4rem 0.5vw;
  }

  .my_project:hover {
    transform: scale(1);
  }

  .projects-container {
    flex-direction: column;
    gap: 4rem;
    margin-top: 2rem;
    padding: 0 2vw;
  }

  .my_project {
    width: 100%;
  }

  .project figcaption {
    padding: 0.8rem;
  }

  section.contact {
    padding: 4rem 0 0;
  }

  .social-icons {
    gap: 4rem;
  }
}
