@import url('http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    min-height: 3500px;
    transition: all 1s ease-in-out;
    font-family: roboto;
}
header {
    padding: .5rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: transparent;
}
.logo {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    color: #000;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
nav a{
    text-decoration: none;
    font-size: 1.25rem;
    font-family: monospace;
    font-style: italic;
    color: #000;
    text-transform: uppercase;
}

.hero-circle {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
    font-size: 1.25rem;
    background: #2c2d36;
    color: snow;
    transition: all 1s ease-in-out;
    position: absolute;
    animation: move 7s infinite;
  }

  @keyframes move {
    0% {
      top: 3rem;
      left: 18rem;
      background: #2c2d36;
      color: snow;
    }
    25% {
      top: 3rem;
      left: 50rem;
      background: pink;
      color: #000;
    }
    50% {
      top: 20rem;
      left: 50rem;
      background: green;
      color: snow;
    }
    75% {
      top: 20rem;
      left: 18rem;
      background: #ebf9f4;
      color: #000;
    }
    100% {
      top: 3rem;
      left: 18rem;
      background: #2c2d36;
      color: snow;
    }
  }

  .about {
    margin-top: 35rem;
    padding: 0 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .about-text {
    max-width: 50%;
  }
  .about-text p {
    font-size: 1.25rem;
    margin-top: 1rem;
  }
  .tools {
    margin-top: 2rem;
  }
  .about img {
    width: 23rem;
    height: 17rem;
    outline: 5px solid #2c2d36;
  }


  

















  /* MEDIA QUERIES */
  @media (max-width: 640px) {
    :root {
        font-size: 10px;
    }
    .hero-circle{
        margin: auto;
        position: relative;
    }
    @keyframes move {
        0% {
          top: 3rem;
          background: #2c2d36;
          color: snow;
        }
        25% {
          top: 3rem;
          background: #ebf9f4;
          color: #000;
        }
        50% {
          top: 13rem;
          background: #2c2d36;
          color: snow;
        }
        75% {
          top: 13rem;
          background: #ebf9f4;
          color: #000;
        }
        100% {
          top: 3rem;
          background: #2c2d36;
          color: snow;
        }
      }
      .about{
        display: block;
        margin-top: 16rem;
        padding: 0 3rem;
      }
      .about-text {
        max-width: 100%;
      }
      .about img {
        display: block;
        margin: 2rem auto;
      }
  }